*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: ghostwhite;
    background-color: #4a4848;
    padding:10px;
    font-family:"Poppins";
}
.navbar{
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: #6c6a6a;
    border-radius: 16px;
    box-shadow: 2px 2px 5px 5px rgba(74, 73, 73, 0.3);
}

.logo{
    font-family: Embed;
    padding: 10px;
    align-items: center;
}
.logo img{
    height: 120px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #cacaca;
}
.navbar li{
    display: inline-block;
    flex-direction:row;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}
.navbar li a{
    text-decoration: none;
    color: #dfdfde;
    margin-right: 20px;
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
.navbar li a:after{
    position: absolute;
    content: "";
    background-color: #dfdfde;
    left: 0;
    height: 3px;
    width:0;
    bottom: -10px;
    transition: 0.3s;
}
.navbar li a:hover:after{
    width: 100%;

}
.sign-up{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sign-up button{
    background-color: #ccc8c8;
    margin-right: 10px;
    height: 30px;
    width: 70px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    font-family:"Orbitron";
    font-weight: bolder;
    box-shadow: #323131 5px 5px;
    cursor:pointer;
}
.sign-up button:hover{
    background-color: #1b1a1a;
    color: #cacaca;
    transition: 1s;

}
.sign-up-icon{
    height: 25px;
    fill: #cdc9c9;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
    height: 500px;
    gap: 140px;
    padding: 20px;
}
.info{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}
.info h1{
    color: #b6b5b5;
    font-size: 40px;
    font-family: "Bebas Neue";
}
.info p{
    color: #cacaca;
    font-size: 22px;
    font-family: "Poppins";
}
.photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.photo img{
    height: 350px;
    border-radius:15px;
    box-shadow: #302f2f 2px 2px 2px 2px;
}
.photo img:hover{
    transition: 2s ease;
    transform: scale(1.3);
}
.info button{
    background-color: #ccc8c8;
    margin-right: 10px;
    height: 30px;
    width: 90px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    font-family:"Orbitron";
    font-weight: bolder;
    box-shadow: #323131 5px 5px;
    cursor:pointer;
}
.info button:hover{
    background-color: #302f2f;
    color: white;
    transition: 0.3s;
    box-shadow: #6c6a6a;
}
